{% load data_parser %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alert</title>
    <style>
        .value {
            font-weight: bold;
        }
        .strike {
            color:red;
            text-decoration: line-through;
        }
        .new {
            color: blue;
        }
    </style>
</head>
<body>
<p>
    Someone has recently made an edit to your Monitored Site.
    Please insure that the below are correct.
</p>
<p>
    {{ rd_manifest.data|data_to_html }}
</p>

<hr>
<p>
    UID Data Reference Used: <b>[{{ rd_manifest.uid }} - {{ rd_manifest.uid }}]</b>
</p>
<p style="text-align:center;">
    MapsDataMonitoring Micro System - {{ version }} Version
</p>
</body>
</html>
