{% load data_parser %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Data</title>
    <style>
        .value {
            font-weight: bold;
        }
        .strike {
            color:red;
            text-decoration: line-through;
        }
        .new {
            color: blue;
        }
    </style>
</head>
<body>
{% autoescape off %}
    <div style="display:flex;">
        <div style="border-style:solid;">
        <h2>Data 1</h2>
        {{ data1|data_to_html }}
    </div>
    <div style="border-style:solid;">
        <h2>Data 2 Original</h2>
        {{ data2|data_to_html }}
    </div>
    </div>
    <div style="border-style:solid; border-color:blue;">
        <h2>Joint Data</h2>
        {{ data2|data_to_html_diff:data1 }}
    </div>
{% endautoescape %}
</body>
</html>